@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F5F6FA;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:32px ;
    flex-direction: column;
    row-gap: 16px;
}

.amy{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #334253;
}

.date{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
}


.texts{
    width: 311px;
    height: 120px;
    margin-top: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
    margin-bottom: 16px;
}

.endfoot{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    padding-left: 16px;
    margin-top: 16px;
    padding-right: 16px;
}

.plusminus{
    width: 100px;
    height: 40px;
    background: #F5F6FA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.amyrobson{
    width:343px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.personinfo{
    display: flex;
    align-items:center;
    column-gap: 16px;
    width: 100%;
    padding-left: 16px;
}

.line{
    width: 2px;
    height: 576px;  
    background: #E9EBF0;  
}



.avatars{
    width: 32px;
    height: 32px;
}



.me{
    width:343px;
    height: 256px;
    background: #FFFFFF;
    border-radius: 8px;
}


.addcommbox{
    width:343px;
    height: 189px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


.ramses{
    width:325px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 8px;  
    
}


.headers{
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

.commentsection{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    border-left: 2px solid  #E9EBF0;
    
    
    
}

.replybtn{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.reply{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5357B6;
    text-transform: capitalize;
}

.score{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5357B6;
}


.addcomm{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


.footwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    height: 189px;
    border-radius: 8px;
}

input{
    width: 311px;
    height: 96px;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
}

input::placeholder{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
    padding-left:24px;
    
}

.photoandsubmit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.myimage{
    width:32px;
    height: 32px;
}

.submit{
    width: 104px;
    height: 48px;
    background: #5357B6;
    border-radius: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform:uppercase;
    border: none;



}

.line{
    width: 2px;
    height: 576px;
    background: #E9EBF0;
}

.forline{
    display: flex;
    flex-direction: row;
}

.imgramsjul{
    width: 32px;
    height: 32px;
}

.ramsesmiron{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #334253;
}

.you{
    width: 36px;
    height: 19px;
    background: #5357B6;
    border-radius: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

.textsreplies{
   
    height: 144px;
    margin-top: 20px;
}

.text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
    padding-left: 16px;
}

.mention{
    color: #5357B6;
}

.delete{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ED6368;
    text-transform: capitalize;
}

.edit{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5357B6;
    text-transform: capitalize;
}

.imgplus:hover{
    cursor: pointer;
}
.imgminus:hover{
    cursor: pointer;
}